.btn{
    height: 100%;
    width: 100%;
}
.num{
    background-color: white;
}
.opr{
    background-color: rgb(240, 240, 175);
}
#ans{
    background-color: green;
}
table{
    background-color: black;
    border: 3px solid black;
}
.text{
    font-size: large;
    font-weight: bold;
    height: 30px;
    text-align: end;
}
#clr{
    background-color: red;
}